@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/*
	A few rules for the page:
		- Colors for page in :root.
		- Borders eat into the size of the element.
		- Padding and margin off for tighter layout.
		- Content requires a minimum of 300px width to function.
		- Headers are serif fonts; everything else is sans-serif.
		- Transition timing is used by dark mode button.
 */
:root {
	--base:			#f3f3f3;
	--primary:		#2d4d66;
	--secondary:	#73d7e1;

	--dBase:		#121212;
	--dPrimary:		#53b7c1;
	--dSecondary:	#162951;
}
* {
	box-sizing: border-box;
	font-family: "Arimo", Verdana, sans-serif;
	color: var(--primary);
	margin: 0;
	padding: 0;
	transition: color 0.55s, background-color 0.55s;
}
body {
	background: var(--base);
	min-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Arbutus Slab", serif;
}

/*
	Element styles across page:
		- H2 is bigger; only a little smaller than h1's enlarged size.
		- Lists are inline and stretch with the page.
		- They're slightly larger than text elsewhere, and spaced out.
 */
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.3em;
}
ul {
	/* Flex. */
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	/* Sizing. */
	font-size: 120%;
	padding-right: 5vw;
}
li {
	display: inline;
	padding: 5px 20px;
}

/*
	Dark mode:
		- switch is the label everything sits in.
		- input is a checkbox but it is hidden because they are ugly.
		- slide is the actual box seen in place of the check.
			- slide:before is the box.
			- slide:after is the text on it.
 */
#switch {
	position: fixed;
	display: inline-block;
	background: var(--secondary);
	width: 145px;
	height: 40px;
	bottom: 2em;
	z-index: 1000;
}
#switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
#slide:before {
	cursor: pointer;
	position: absolute;
	content: "";
	height: 32px;
	width: 97px;
	left: 4px;
	bottom: 4px;
	background-color: var(--base);
	transition: .4s;
}
#slide:after {
	cursor: pointer;
	position: absolute;
	content: "Light Mode";
	left: 13px;
	bottom: 10px;
	transition: .38s;
	font-weight: 600;
}
/* Appearance change when switched to dark mode: */
input:checked + #slide {
	background-color: #2196F3;
}
input:checked + #slide {
	background-color: #2196F3;
}
input:checked + #slide:before {
	transform: translateX(40px);
}
input:checked + #slide:after {
	content: "Dark Mode";
	left: 54px;
}

/*
	Header:
 */
header {
	align-items: center;
	background: var(--primary);
	color: var(--secondary);
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
nav {
	flex: 100 1 60vw;
}
h1 {
	background-color: var(--secondary);
	color: var(--primary);
	flex: 1 2 8em;
	padding: 2px 10px;
	text-align: right;
}
nav a {
	border-bottom: 3px solid var(--secondary);
	color: var(--secondary);
	text-decoration: none;
}

/*
	Hero:
 */
figure {
	/* Sizing. */
	height: 200px;
	width:100%;
	padding: 25px 5vw;

	/* Flex. */
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	/* Style. */
	background-image: url("../img/azulejos.jpg");
	box-shadow: 0px 5px 10px -1px #00000033;
}
figure > h2 {
	background-color: var(--secondary);
	color: var(--primary);
	padding: 5px 15px;
}

/*
	Main body:
 */
main {
	padding: 20px 5vw;
}
section {
	display: flex;
	margin: 20px 0px;
	align-items: center;
	justify-content: space-between;
}
main h2 {
	width: 15vw;
	text-align: right;
	padding: 0 10px;
	color: var(--primary);
	flex: 0 0 5em;
	align-self: stretch;
	border-right: 4px solid var(--primary);
}

/*
	About Me:
 */
#about p {
	text-indent: 1em;
	padding: 0.625em 2em;
}
#about img {
	display: block;
	height: 150px;
	width: 150px;
	margin: 0.625em 1em 0.1em 2em;
	float: left;
	filter: drop-shadow(6px 6px var(--primary));
}

/*
	Work tiles:
		- <div> is the container holding it all together.
		- <a> is the tiles themselves.
		- The img inside each <a> is hidden when not viewed; shows background.
 */
#work > div {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-items: center;
	grid-gap: 1.5vw;
	padding: 0.625em 2em;
}
#work a {
	background-image: url("../img/azulejos.jpg");
	border: 8px solid var(--primary);
	height: 100%;
	width: 100%;
	padding: 0px;
	position: relative;
	font-size: 0px;
}
#work img {
	width: 100%;
	object-fit: contain;
	opacity: 0.0;
	transition: opacity 2s 0.5s;
}
#work a:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

/*
	Text over work tile:
 */
#work a > div {
	background: var(--primary);
	position: absolute;
	left: 0px;
	bottom: 20%;
	text-align: left;
	max-width: 100%;
	overflow: hidden;
	padding: 4px 16px;
}
#work h3 {
	font-size: 1.5rem;
	color: var(--secondary);
	letter-spacing: 1px;
}
#work p {
	font-size: 1rem;
	color: var(--secondary);
	font-size: 1rem;
	letter-spacing: 1px;
}

/*
	Contact Me:
 */
#contact ul {
	justify-content: flex-end;
	padding: 0 5vw;
	height: 100%;
}
#contact a {
	color: var(--primary);
	text-decoration: none;
	border-bottom: 2px solid var(--primary);
	padding-bottom: 4px;
}
#contact ul, #contact li {
	flex-grow: 1;
	text-align: center;
}

/*
	Media inquires:
		- Screens below 1301px width:
			- Work tiles has three columns.
		- Screens below 901px width:
			- Break nav list instead of pushing last item to new row.
			- Work tiles has two columns.
		- Screens below 601px width:
			- Center subtitle on hero (and its text).
			- Break each list item onto seperate lines (align text on right).
			- Align section headers above content from the left.
			- Work tiles has one column.
 */
@media all and (max-width: 1300px) {
	#work > div {
		grid-template-columns: repeat(3, auto);
	}
}
@media all and (max-width: 1100px) {
	#contact span {
		flex-basis: 100%;
	}
}
@media all and (max-width: 900px) {
	header span {
		flex-basis: 100%;
	}
	main {
		padding: 20px 0 3em 0;
	}
	#work > div {
		grid-template-columns: repeat(2, auto);
	}
}
@media all and (max-width: 600px) {
	header li {
		flex-basis: 100%;
		text-align: right;
	}
	figure {
		justify-content: center;
	}
	h2 {
		font-size: 1.8em;
	}
	main h2 {
		flex: 0 0 1.5em;
		width: 80vw;
		border-right: none;
		border-bottom: 2px solid var(--primary);
		text-align: center;
		margin: 0 auto;
	}
	section {
		flex-direction: column;
	}
	#work {
		padding: 0;
	}
	#work > div {
		padding: 5vw;
		grid-template-columns: auto;
	}
	#work a:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	#work h3 {
		font-size: 5vw;
	}
	#work p {
		font-size: 4vw;
	}
	#contact li {
		justify-self: center;
	}
}