@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/*
	A few rules for the page:
		- Colors for page in :root.
		- Borders eat into the size of the element.
		- Padding and margin off for tighter layout.
		- Content requires a minimum of 300px width to function.
		- Headers are serif fonts; everything else is sans-serif.
 */
:root {
	--base:			#f3f3f3;
	--primary:		#2d4d66;
	--secondary:	#73d7e1;
}
* {
	box-sizing: border-box;
	font-family: "Arimo", Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background: var(--base);
	min-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Arbutus Slab", serif;
}

/*
	Element styles across page:
		- H2 is bigger; only a little smaller than h1's enlarged size.
		- Lists are inline and stretch with the page.
		- They're slightly larger than text elsewhere, and spaced out.
 */
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.3em;
}
h3 {
	font-size: 1.9em;
}
ul {
	/* Flex. */
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	/* Sizing. */
	font-size: 120%;
	padding-right: 5vw;
}
li {
	display: inline;
	padding: 5px 20px;
}

/*
	Header:
 */
header {
	align-items: center;
	background: var(--primary);
	color: var(--secondary);
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
nav {
	flex: 100 1 60vw;
}
h1 {
	background-color: var(--secondary);
	color: var(--primary);
	flex: 1 1 8em;
	padding: 2px 10px;
	text-align: right;
}
nav a {
	border-bottom: 3px solid var(--secondary);
	color: var(--secondary);
	text-decoration: none;
}

/*
	Hero:
 */
figure {
	/* Sizing. */
	height: 200px;
	width:100%;
	padding: 25px 5vw;

	/* Flex. */
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	/* Style. */
	background-image: url("../img/azulejos.jpg");
	box-shadow: 0px 5px 10px -1px #00000033;
}
figure > h2 {
	background-color: var(--secondary);
	color: var(--primary);
	padding: 5px 15px;
}

/*
	Main body:
 */
main {
	padding: 20px 5vw;
}
section {
	display: flex;
	margin: 20px 0px;
	align-items: center;
	justify-content: space-between;
}
main h2 {
	width: 15vw;
	text-align: right;
	padding: 0 10px;
	color: var(--primary);
	flex: 0 0 5em;
	align-self: stretch;
	border-right: 4px solid var(--primary);
}

/*
	About Me:
 */
#about p {
	text-indent: 1em;
	padding: 0.625em 2em;
}

/*
	Work tiles:
 */
#work > div {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	justify-items: center;
	grid-gap: 3vmin;
	height: 100%;
	width: 100%;
	padding: 0.625em 2em;
}
#work a {
	width: 100%;
	padding: 0px;
}
#work img {
	width: 100%;
	object-fit: contain;
}
#work a:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

/*
	Text over work tile:
 */
#work a {
	position: relative;
	border: 8px solid var(--secondary);
}
#work a > div {
	background: var(--secondary);
	position: absolute;
	left: 0px;
	bottom: 20%;
	text-align: left;
	min-width: 100px;
	padding: 0.2em 1em;
}
#work h3 {
	letter-spacing: 1px;
}
#work p {
	font-size: 1.2em;
	letter-spacing: 1px;
}

/*
	Contact Me:
 */
#contact ul {
	justify-content: flex-end;
	padding: 0 5vw;
	height: 100%;
}
#contact a {
	color: var(--primary);
	text-decoration: none;
	border-bottom: 2px solid var(--primary);
	padding-bottom: 4px;
}
#contact ul, #contact li {
	flex-grow: 1;
	text-align: center;
}

/*
	Media inquires:
		- Screens below 901px width:
			- Break list instead of pushing last item to new row.
		- Screens below 601px width:
			- Center subtitle on hero (and its text).
			- Break each list item onto seperate lines (align text on right).
			- Align section headers above content from the left.
 */
@media all and (max-width: 1300px) {
	#work > div {
		grid-template-columns: 33% 33% 33%;
	}
}
@media all and (max-width: 1100px) {
	#contact span {
		flex-basis: 100%;
	}
}
@media all and (max-width: 900px) {
	header span {
		flex-basis: 100%;
	}
	main {
		padding: 20px 0;
	}
	#work > div {
		grid-template-columns: 50% 50%;
	}
}
@media all and (max-width: 600px) {
	header li {
		flex-basis: 100%;
		text-align: right;
	}
	figure {
		justify-content: center;
	}
	h2 {
		font-size: 1.8em;
	}
	main h2 {
		flex: 0 0 1.5em;
		width: 80vw;
		border-right: none;
		border-bottom: 2px solid var(--primary);
		text-align: center;
		margin: 0 auto;
	}
	section {
		flex-direction: column;
	}
	#work > div {
		grid-template-columns: auto;
	}
	#contact li {
		justify-self: center;
	}
}