@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/*
	A few rules for the page:
		- Borders eat into the size of the element.
		- Padding and margin off for tighter layout.
		- Content requires a minimum of 300px width to function.
		- Headers are serif fonts; everything else is sans-serif.
 */
* {
	box-sizing: border-box;
	font-family: "Arimo", Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	min-width: 300px;
}
h1, h2 {
	font-family: "Arbutus Slab", serif;
}

/*
	Colors used in style:
		- shade_light is roughly aquamarine.
		- shade_dark is more of a cadet blue.
 */
:root {
	--shade_light:	#73d7e1;
	--shade_dark:	#2d4d66;
}

/*
	Element styles across page:
		- H2 is bigger; only a little smaller than h1's enlarged size.
		- Lists are inline and stretch with the page.
		- They're slightly larger than text elsewhere, and spaced out.
 */
h2 {
	font-size: 2.3em;
}
ul {
	/* Flex. */
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	/* Sizing. */
	font-size: 120%;
	padding-right: 5vw;
}
li {
	display: inline;
	padding: 5px 20px;
}

/*
	Header:
 */
header {
	align-items: center;
	background: var(--shade_dark);
	color: var(--shade_light);
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
nav {
	flex: 1000 1 60vw;
}
h1 {
	background-color: var(--shade_light);
	color: var(--shade_dark);
	flex: 1 1 8em;
	font-size: 3em;
	padding: 2px 10px;
	text-align: right;
}
nav a {
	border-bottom: 3px solid var(--shade_light);
	color: var(--shade_light);
	text-decoration: none;
}

/*
	Hero:
 */
figure {
	/* Sizing. */
	height: 200px;
	width:100%;
	padding: 25px 5vw;

	/* Flex. */
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	/* Style. */
	background-image: url("../img/azulejos.jpg");
	box-shadow: 0px 5px 10px -1px #00000033;
}
figure > h2 {
	background-color: var(--shade_light);
	color: var(--shade_dark);
	padding: 5px 15px;
}

/*
	Main body:
 */
main {
	padding: 20px 5vw;
}
section {
	display: flex;
	margin: 20px 0px;
	align-items: center;
}
main h2 {
	width: 15vw;
	text-align: right;
	padding: 0 10px;
	color: var(--shade_dark);
	flex: 0 0 5em;
	align-self: stretch;
	border-right: 4px solid var(--shade_dark);
}
p {
	text-indent: 1em;
	padding: 0.625em 2em;
}
section {
	justify-content: space-between;
}
section > ul {
	justify-content: flex-end;
	padding-right: 2em;
	height: 100%;
}
section a {
	color: var(--shade_dark);
	text-decoration: none;
	border-bottom: 2px solid var(--shade_dark);
	padding-bottom: 4px;
}
section ul, section li {
	flex-grow: 1;
}
section ul {
	padding: 0 5vw;
}

.work {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0.625em 2em;
	flex-wrap: wrap;
}
.card img {
	object-fit: cover;
	flex-grow: 1;

}
.card {
	flex-grow: 1;
	flex-basis: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	border: 2px solid --var(shade_light);
	background: #000;
	overflow: hidden;
}
section > a {
	border-bottom: none;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

/*
	Media inquires:
		- Screens below 901px width:
			- Break list instead of pushing last item to new row.
		- Screens below 601px width:
			- Center subtitle on hero (and its text).
			- Break each list item onto seperate lines (align text on right).
			- Align section headers above content from the left.
 */
@media all and (max-width: 1100px) {
	section span {
		flex-basis: 100%;
	}
}
@media all and (max-width: 900px) {
	nav > ul > span {
		flex-basis: 100%;
	}
	main {
		padding: 20px 0;
	}
}
@media all and (max-width: 600px) {
	figure {
		justify-content: center;
	}
	nav li {
		flex-basis: 100%;
		text-align: right;
	}
	section {
		flex-direction: column;
	}
	figure > h2 {
		font-size: 1.8em;
	}
	main h2, footer h2 {
		flex: 0 0 1.5em;
		width: 80vw;
		border-right: none;
		border-bottom: 2px solid var(--shade_dark);
		text-align: center;
		margin: 0 auto;
		font-size: 1.8em;
	}
	section > ul {
		justify-content: center;
	}
}